<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button class="toggleMenuButton" (click)="toggleMenu()">
      </ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div *ngFor="let vendedor of num_pedidos; let i =index">
    <div  > 
    <div (click)="getListpedidos(vendedor.id)" class="empresa" >
      
      <!-- <div  class="imagen">
        <div>
        <img [src]="vendedor.imagen_empresa">
      </div> -->
      <div  class="imagen">
        <div>
        <img src="https://www.fiverr.com/support/article_attachments/360020049978">
      </div>
    
      <!-- <p>{{vendedor.fecha_pedido}}</p> -->
    </div>
      <!-- <div class="nombre">
        <p>{{vendedor.empresa_pedido}} </p>
      </div>     -->
      <div class="nombre">
        <p>Pedido {{tamanio_pedidos-(i+1) }} </p>

      </div>    
      <br>
    </div>  
  </div>
</div>
  
  
</ion-content>
