ion-toolbar {
    --background: #2f4f4f;
}

ion-title {
    color: white;
}

.submitForgetPassword {
    margin-top: 4%;
    --background: #2f4f4f;
}

.goLoginbtn {
    margin-top: 4%;
    --background: #89ac76;
}